body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
.mh-container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color:#0b385f;
    color: #fff;
    padding: 13.5px 0;
}

header h1 {
    margin: 160px;
    width: 80%;
    display: inline;
    color:#afe2fd

}

.search-form {
    margin-left: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Search-container{
    text-align: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin-top: 0;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #007bff;
}

.section p {
    margin-bottom: 15px;
}

.section ul {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p { margin: 0;
}
