body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f5fa;
    color: #333;
}
.th-container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color:#0b385f;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 180px;
    width: 80%;
    display: inline;
    color:#afe2fd

}

.search-form {
    margin-left: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Search-container{
    text-align: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2979ff;
}

h2 {
    margin-top: 20px;
    color: #2979ff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.therapy {
    margin-bottom: 40px;
    text-align: left;
}

.therapy img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content p {
    margin-bottom: 20px;
}

p{
    text-align: left;
}
